<div class="panel-heading">
  <div class="search">
    <input type="text" placeholder="Search By Author Name" />
  </div>

  <a href="#">
    <div class="sr-only">Add New Author</div>
  </a>

  <div class="panel-content">
    <h3 class="panel-title">Authors</h3>

    <ul class="collection">
      {{#each model.data as |author|}}
        <AuthorListItem
          @first={{author.attributes.first}}
          @last={{author.attributes.last}}
        />

      {{/each}}
    </ul>
  </div>
</div>